@page "/"

<PageTitle>Milkomeda Bridge dApp</PageTitle>

<div class="grid gap-2 grid-cols-6 grid-rows-3">
    <div class="col-start-1 col-start-6" />
    <MudCard Class="col-start-3 col-end-5">
        <MudCardContent>
            <MudText>Story of the day</MudText>
            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Learn More</MudButton>
        </MudCardActions>
    </MudCard>
</div>
